.footer {
  width: auto;
  background: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 22px;
  font-weight: bold;
}


.input-email {
  width: 204px;
  height: 35px;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
  background-color: #aaa;
}

.modal-open-btn {
  border-radius: 20px;
  width: 107px;
  height: 35px;
  color: white;
  background-color: black;
  margin-left: 36px;
}

.footer-note {
  margin-top: 18px;
  font-size: 6px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  display: flex; // активуємо flexbox
  justify-content: center; // по центру по горизонталі
  align-items: center; // по центру по вертикалі
  text-align: center;
  position: fixed;
  width: 463px;
  height: 245px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  padding: 25px;
  border-radius: 5px;
  background: white;
  transition: transform 250ms linear;
}

.backdrop.is-open .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal-close-btn {
  position: absolute;
  top: 10px; /* відступ зверху */
  right: 10px; /* відступ справа */
  background: none;
  border: none;
  cursor: pointer;
}
.footer-contacts {
  font-size: 14px;
}

.icon {
  position: absolute;
  width: 30px;
  height: 30px;

  &.top-left {
    left: 46px;
    top: 89px;
  }

  &.bottom-left {
    left: 67px;
    bottom: 60px;
  }

  &.top-right {
    left: 390px;
    top: 90px;
  }

  &.bottom-right {
    left: 360px;
    top: 155px;
  }
}
.h2 {
  font-size: 24px;
  font-weight: 700;
}
