
.footer {
  background: #fff;
  padding-top: 60px;
  font-family: Arial, sans-serif;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;           
  text-align: center;
  padding: 20px 40px;
}

.footer-logo {
  position: absolute;
  flex: 1;
  font-size: 22px;
  font-weight: bold;
  padding-right: 1100px;
  margin-top: auto;

  .logo-icon {
    display: block;
    font-size: 26px;
  }
}

.footer-subscribe {
  position: relative;
  left: 400px;
  top: -50px;
  flex: 1;
  display: flex;
  gap: 10px;
}

  .input-email {
    width: 204px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #aaa;
    outline: none;
  }

 .modal-open-btn {
  border-radius: 20px;
  width: 107px;
  height: 35px;
  color: white;
  background-color: black;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: fixed;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  padding: 25px;
  border-radius: 5px;
  background: white;
  transition: transform 250ms linear;
}

.backdrop.is-open .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal-close-btn {
  position: absolute;
  top: 10px;   /* відступ зверху */
  right: 10px; /* відступ справа */
  background: none;
  border: none;
  cursor: pointer;
}
footer-contacts {
    flex: 1;
    text-align: center;
}