.container {
  width: 1090px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  background-image: image-set(
    url('../image/background@1x.png') 1x,
    url('../image/background@2x.png') 2x
  );

  background-repeat: repeat-y;
  background-size: cover;
}

.titleGame {
  margin-bottom: 36px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}

.line {
  width: 536px;
  margin: 36px auto;
}
