.team-slider {
  position: relative;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: none;
    &.active {
      display: block;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__figure {
    width: 200px;
    height: 200px;
    background: #d9d9d9;
    border-radius: 20px;
    margin-bottom: 20px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 20px;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__info {
    font-size: 12px;
    line-height: 170%;
    color: #333;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #d9d9d9;
    border: none;
    font-size: 40px;
    cursor: pointer;
    line-height: 1;
    transition: 250ms linear;

    &--prev {
      left: 30%;
    }
    &--next {
      right: 30%;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }

  &__dots li {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: #d9d9d9;
    cursor: pointer;

    &.active {
      background: #555;
    }
  }
}